.FormRegistro{

width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #ccc;

}

@media only screen and (max-width: 768px) {
.FormRegistro{

width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #ccc;

}


}